.hg/last-message.txt
.hg/cache/tags
.hg/dirstate
.hgignore
.hg/00changelog.i
.hg/cache/branchheads-served
.hg/requires
*.i
.hg/store/fncache
.hg/store/phaseroots
.hg/store/undo.phaseroots
*.bookmarks
.hg/undo.branch
*.desc
.hg/undo.dirstate
.hg/store/undo
.hg/cur-message.txt
itemcatalog.db
database_schema.pyc
.hg/shelves/2016-03-05_14-50-50_parent_rev_10
.hg/Trashcan/item_catalog_cyysql.py.bak
*.bak
TODO.txt
client_secrets_facebook_mine.json
client_secrets_google_mine.json