{% extends "sidebar_nav.html" %}

{% block content %}

<div class="form-header purple fjalla">
	<h2>New Category</h2>
</div>

<div class="white spacer"></div>

<form action="{{ url_for('addCategory') }}" method='POST'>
	<input name="csrf_token" type=hidden value="{{ csrf_token }}">

	<label>Name:</label>
	<input type='text' size='30' name='name'>
	<br>
	<div class="white spacer"></div>

	<input class="green mini float-left" type='submit' value='Add'>
	<div class="button-cancel mini float-left" onclick="location.href='{{url_for('categoryListing')}}';">Cancel</div>
</form>

{% endblock %}