{% extends "sidebar_nav.html" %}

{% block content %}

<div class="form-header purple fjalla">
	<h2>Edit Category</h2>
</div>

<div class="white spacer"></div>

<form action="{{ url_for('editCategory', category_id=editedCategory.id) }}" method='POST'>
	<input name="csrf_token" type=hidden value="{{ csrf_token }}">

	<p>Name:</p>
	<input type='text' size='30' name='name' value="{{editedCategory.name}}">
	<div class="white spacer"></div>
	<input class="green mini float-left" type='submit' value='Save'>
	<div class="button-cancel mini float-left" onclick="location.href='{{url_for('categoryListing')}}';">Cancel</div>
</form>

{% endblock %}