{% extends "sidebar_nav.html" %}

{% block content %}

	<h2>{{listCategory.name}}</h2>

	<a href="{{url_for('addProduct', category_id = listCategory.id)}}">New Product</a>
	</br>

	<ul>
		{% for product in products %}
			<li>
				<a href="{{url_for('viewProduct', category_id = product.category_id, product_id = product.id)}}">{{product.name}}</a>
				<a href="{{url_for('editProduct', category_id = product.category_id, product_id = product.id)}}">Edit</a>
				<a href="{{url_for('deleteProduct', category_id = product.category_id, product_id = product.id)}}">Delete</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}