{% extends "base.html" %}

{% block sidebar %}

	<h2>Categories</h2>
    <a href="{{url_for('addCategory')}}">New Category</a>
	<ul>
		{% for category in categories %}
			<li>
				<a href="{{url_for('productListing', category_id = category.id)}}">{{category.name}}</a>
				<a href="{{url_for('editCategory', category_id = category.id)}}">Edit</a>
				<a href="{{url_for('deleteCategory', category_id = category.id)}}">Delete</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}

{% block content %}
{% endblock %}