{% extends "sidebar_nav.html" %}

{% block content %}

<h2>{{singleproduct.name}}</h2>

<p>Description:{{singleproduct.description}}</p>
<p>Price:{{singleproduct.price}}</p>
<p>Category:{{singleproduct.category.name}}</p>
<a href="{{url_for('editProduct', category_id = singleproduct.category_id, product_id = singleproduct.id)}}">Edit</a>
<a href="{{url_for('deleteProduct', category_id = singleproduct.category_id, product_id = singleproduct.id)}}">Delete</a>
<a class="cancelButton" href="/catalog/{{singleproduct.category_id}}">Cancel</a>

{% endblock %}